body{
    background-color: lightblue;
}

p{
    font-size: 2rem;
    font-weight: bold;
    color: red;
}

ul li{
    background-color: lightyellow;
    text-transform: uppercase;
}

.conteiner1 {
    background-color: lightgrey;
    border: 2px dashed yellow;
    width: 50%;
    height: 50%;
}

.conteiner2 {
    background-color: lightgreen;
    border: 6px dashed red;
    height: 80%;
}
@media screen and (max-width:575px){
    .conteiner1, .conteiner2{
        display: none;
    }
}